pprof.out
bazel-*
/.cache/
MODULE.bazel.lock
core.*
nohup.out
external
#src/proto/*.h
#src/proto/*.cc

# Ignore all files in conf/ except example configs and BUILD
conf/*
!conf/client_example_config.json
!conf/server_example_config.json
!conf/BUILD
compile_commands.json


# Log files
*.log
log/
logs/

# Temporary/cache files
*.tmp
*.temp
.DS_Store
data/
